<script src="app/js/main.js"></script>
<div class="row">
			<div class="personel">
				<div class="col-xs-12 col-sm-5 col-lg-5 text-center">
					<div class="photo">
						<img src="https://avatars0.githubusercontent.com/u/9356878?v=3&s=460" alt="" class="img-responsive">
					</div>
				</div>

				<div class="col-xs-12 col-sm-7 col-lg-7 text-left">
					<h1 class="title">Emre Köse</h1>
					<h3 class="sub-title">Web Application & Front-end Developer</h3>
					<div class="social">
						<ul>
							<a href="https://www.facebook.com/ekose26" target="_blank"><li class="face"><i class="fa fa-facebook"></i></li></a>
							<a href="https://twitter.com/ekose26" target="_blank"><li class="twitter"><i class="fa fa-twitter"></i></li></a>
							<a href="https://tr.linkedin.com/pub/emre-köse/a2/b16/a84
"  target="_blank"><li class="linkedin"><i class="fa fa-linkedin"></i></li></a>
							<a href="https://github.com/emrekose26" target="_blank"><li class="github"><i class="fa fa-github"></i></li></a>
							<a href="https://instagram.com/ekose26/" target="_blank"><li class="insta"><i class="fa fa-instagram"></i></li></a>
						</ul>
					</div>
				</div>
			</div><!--.personel end-->
		</div><!--.row end-->

		<div class="row">
			<nav class="menu">
				<div class="col-xs-12 col-sm-12 col-lg-12">
					<a href="#/profile" class="menu-li">
						<span class="foto profile">
							<img src="app/img/profile.png" height="170" width="170" alt="">
						</span>
						<span class="name">Profile</span>
					</a>
					<a href="#/about" class="menu-li">
						<span class="foto resume">
							<img src="app/img/resume.png" height="170" width="170" alt="">
						</span>
						<span class="name">About</span>
					</a>
					<a href="#/portfolio" class="menu-li">
						<span class="foto portfolio">
							<img src="app/img/portfolio.png" height="170" width="170" alt="">
						</span>
						<span class="name">Portfolio</span>
					</a>
					<a href="http://emre-kose.net" target="_blank" class="menu-li">
						<span class="foto blog">
							<img src="app/img/blog.png" height="170" width="170" alt="">
						</span>
						<span class="name">Blog</span>
					</a>
					<a href="#/contact" class="menu-li">
						<span class="foto contact">
							<img src="app/img/contact.png" height="170" width="170" alt="">
						</span>
						<span class="name">Contact</span>
					</a>
				</div>
			</nav>
		</div>